.header{
    background-color: lightskyblue;
    color: white;
    font-family:'Lucida Grande' sans-serif;
    font-size: larger;
    text-align: center;
}

.pomocky{
    color: black;
    text-align: left;
}

.pictures{
    text-align: left;
}